/* directly styles element */
ol {
  color: red;
  background-color: yellow;
  box-shadow: 10px 10px 10px 10px red;
  margin: 50px;
  padding: 40px;
}

ol:hover {
   background-color: pink; 

}

.abcd {
  color: cadetblue;
}

li:first-child {
  font-size: x-large;
}

h1 {
  background-color: black;
  color: white;
}


/* id */
#x {
  background-color: yellowgreen;
}

/* class */

.someclass {
  margin: 3px;
  border: 2px black solid;
}

button{
  padding: 5px;
  margin: 5px;
  margin-left: .5rem;
  color: azure;
  background-color: red;
  border-radius: 3px;
  /* box-shadow: 4px 4px 4px 4px pink; */
}
input {
  padding: 5px;
  margin: 5px;
  /* margin-left: 45px; */
  color: azure;
  background-color: rgb(74, 99, 125);
  border-radius: 3px;
  /* box-shadow: 4px 4px 4px 4px pink; */
}